.eq-googlefonts-results {
    max-height: 400px;
    overflow-y: auto;
}

.eq-googlefonts-card {
    padding: 16px;
    cursor: pointer !important;
    background: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
}

.eq-googlefonts-card:hover {
    background: var(--background-modifier-hover);
    cursor: pointer !important;
}

.eq-googlefonts-preview {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer !important;
}
