/* stylelint-disable property-no-vendor-prefix */
[data-tab-id="ThemeLibrary"]::before {
    -webkit-mask: var(--si-widget) center/contain no-repeat !important;
    mask: var(--si-widget) center/contain no-repeat !important;
}

.vce-theme-info {
    padding: 0.5rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    overflow: hidden;
    transition: all 0.3s ease;
}

.vce-theme-info-preview {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    margin: 0.5rem;
}

.vce-theme-info-preview img {
    width: 1080px;
    height: 1920px;
    object-fit: cover;
}

.vce-theme-text {
    padding: 0.5rem;
}

.vce-theme-info-tag {
    background: var(--background-secondary);
    color: var(--text-primary);
    border: 2px solid var(--background-tertiary);
    padding: 0.25rem 0.5rem;
    display: inline-block;
    border-radius: 5px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.vce-text-input {
    display: inline-block !important;
    color: var(--text-normal) !important;
    font-family: var(--font-code) !important;
    font-size: 16px !important;
    padding: 0.5em;
    border: 2px solid var(--background-tertiary);
    max-height: unset;
}
