.vc-icons-tab-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    gap: 8px;
}

.vc-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vc-icon-container {
    padding: 12px;
    border-radius: 8px;
    border: 3px solid transparent;
    transition: background-color 0.15s ease;
}

.vc-icon-container:hover {
    background-color: var(--background-modifier-hover);
}

.vc-icon-icon {
    color: var(--interactive-icon-default);
    transition: transform 0.15s ease, filter 0.15s ease;
}

.vc-icon-container:hover .vc-icon-icon {
    transform: scale(1.1);
    filter: brightness(1.5);
}

.vc-icon-title {
    font-size: 0.75rem;
    margin-top: 4px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 64px;
}

.vc-icon-tab-search-bar-grid {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
}

.vc-icon-tab-search-bar-grid > div:first-child {
    flex: 1;
}

.vc-icon-sentinel {
    height: 32px;
}

.vc-ic-modal-header {
    align-items: flex-start;
    position: relative;
    padding: 16px 16px 16px 24px;
    z-index: 1;
}

.vc-ic-modal-header-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.vc-ic-modal-header-trailing {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.vc-ic-modal-content {
    padding: 16px;
}

.vc-ic-modal-main {
    gap: 24px;
    align-items: center;
}

.vc-ic-icon-preview {
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(45deg,
            #ffffff1a 0,
            #ffffff1a 10px,
            #0000001a 10px,
            #0000001a 20px);
    border-radius: 8px;
    cursor: context-menu;
}

.vc-ic-icon-large {
    width: 96px;
    height: 96px;
}

.vc-ic-icon-info {
    gap: 12px;
}

.vc-ic-icon-sizes {
    gap: 16px;
    align-items: flex-end;
}

.vc-ic-color-label {
    cursor: help;
}

.vc-ic-modal-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 8px;
}

.vc-ic-unordered-list li {
    margin-left: 16px;
    list-style: disc;
}

.vc-ic-modal-title {
    user-select: none;
    padding-right: 32px;
}