.vc-settings-quickActions-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    margin-bottom: 1em;
    padding: 24px;
    padding-top: 16px;
    background-color: var(--background-secondary) !important;
    box-shadow: var(--elevation-low) !important;
    border-radius: 12px !important;
    border: none !important;
}

.vc-settings-quickActions-title {
    margin-bottom: 16px;
    color: var(--text-normal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2; /* i hate this i hate this i hate this i hate this */
}

.vc-settings-quickActions-containerButtons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 0.5em;
}

.vc-settings-quickActions-button {
    all: unset;
    background-color: var(--button-secondary-background);
    color: var(--white-500);
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 8px 12px;
    border-radius: 4px; /* original: border-radius: 9999px; */
    height: 24px;
}

.vc-settings-quickActions-button:hover {
    background-color: var(--button-secondary-background-hover);
}

.vc-settings-quickActions-button:focus-visible {
    outline: 2px solid var(--focus-primary);
    outline-offset: 2px;
}

.vc-settings-quickActions-img {
    width: 24px;
    height: 24px;
}

.vc-settings-quickActions-info-button {
    height: 24px;
    width: 24px;
    padding: 0;
    background: transparent;
    margin: 0;
}
