.vcSettingsTabBar {
    margin-top: 20px;
    margin-bottom: -2px;
    border-bottom: 2px solid var(--background-modifier-accent);
}

.vcSettingsTabBarItem {
    margin-right: 32px;
    padding-bottom: 16px;
    margin-bottom: -2px;
}

.vcSettingsQuickActionCard {
    padding: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: row;
    margin-bottom: 1em;
}

.vcSettingsCard {
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.vcSettingsDonate {
    display: flex;
    flex-direction: row;
}
