.vc-donate-button {
    overflow: visible !important;
}

.vc-donate-button .vc-heart-icon {
    transition: transform 0.3s;
}

.vc-donate-button:hover .vc-heart-icon {
    transform: scale(1.1);
    z-index: 10;
    position: relative;
}

.vc-settings-card {
    padding: 1em;
    margin-bottom: 1em;
}

.vc-special-card-special {
    padding: 1em;
    margin-bottom: 1em;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 12px !important;
}

.vc-special-card-flex {
    display: flex;
    flex-direction: row;
}

.vc-special-card-flex-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1em;
    padding: 0.5em;
    text-shadow: 2px 2px 2px #70e4;
}

.vc-special-title {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.vc-special-text {
    color: white;
    font-size: 1em;
    white-space: pre-line;
}

.vc-special-seperator {
    margin-top: 0.75em;
    border-top: 1px solid white;
    opacity: 0.4;
}

.vc-special-hyperlink > .vc-special-hyperlink-text {
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    transition: text-decoration 0.5s;
    cursor: pointer;
}

.vc-special-hyperlink {
    margin-top: 1em;
    cursor: pointer;

    &:hover .vc-special-hyperlink-text {
        text-decoration: underline;
    }
}

.vc-special-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
}

.vc-special-image {
    width: 80%;
}
