@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    background: black;
    color: #9b8c7d;
    font-size: 0.8em;
}

body {
    width: 305px;
    background: #282828;
    padding: 10px;
    font-family: "Inter", system-ui;
    margin: 0;
}

p {
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
}

a {
    color: #cd879c;
    text-decoration: none;
    font-size: 0.85rem;
}

h1 {
    display: flex;
    align-items: center;
    line-height: 0;
    font-weight: 500;
    margin: 0;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    color: #d4be98;
    p {
        font-size: 1.5rem;
        line-height: 0;
    }
    #local-version {
        font-weight: 400;
        font-size: 1.2rem;
        margin-right: -2px;
        margin-top: 3px;
    }
    #commit-url {
        font-family: monospace;
        font-size: 0.9rem;
        margin-top: 3px;
    }
}

hr {
    all: unset;
}
hr::before {
    content: "                                    ";
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #655c55;
    font-size: 1.325rem !important;
    display: block;
    transform: translateY(-50%);
    color: transparent;
    user-select: none;
}

.grow {
    flex: 1;
}

.buttons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: 5px 0;
    margin-top: 10px;
    button {
        flex: 1;
        font-family: inherit;
        padding: 0.7rem 0;
        font-size: 0.9rem;
        border-radius: 0.6rem;
        border: none;
        background: #c75b5b70;
        color: #f69393;
        font-weight: 600;
        &:nth-child(3) {
            flex-basis: 100%;
        }
        &:hover {
            background: #e9686870;
            cursor: pointer;
        }
    }
}
