:root {
    background: black;
    color: #9b8c7d;
    font-size: 0.8em;
}

body {
    width: 305px;
    background: #282828;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
}

p {
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
}

a {
    color: #cd879c;
    text-decoration: none;
    font-size: 0.85rem;
}

h1 {
    display: flex;
    align-items: center;
    line-height: 0;
    font-weight: 500;
    margin: 0;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    color: #d4be98;

    p {
        font-size: 1.5rem;
        line-height: 0;
    }

    #local-version {
        font-weight: 400;
        font-size: 1.2rem;
        margin-right: -2px;
        margin-top: 3px;
    }

    #commit-url {
        font-family: monospace;
        font-size: 0.9rem;
        margin-top: 3px;
    }
}

hr {
    border: none;
    height: 5px;
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2275%22%20height%3D%225%22%20viewBox%3D%220%200%2075%205%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23a)%22%3E%3Cpath%20d%3D%22m0%202.505.188-.235.187-.23.188-.218.187-.202.188-.18.187-.153.188-.123.187-.09.188-.055L1.875%201l.188.019.187.055.188.09.187.123.188.154.187.18.188.2.187.219.188.23.187.235.188.235.187.23.188.218.187.202.188.18.187.153.188.123.187.09.188.055.187.019.188-.019L6%203.936l.188-.09.187-.123.188-.154.187-.18.188-.2.187-.219.188-.23.187-.235.188-.235.187-.23.188-.218.187-.202.188-.18.187-.153.188-.123.187-.09.188-.055L9.375%201l.188.019.187.055.188.09.187.123.188.154.187.18.188.2.187.219.188.23.187.235.188.235.187.23.188.218.187.202.188.18.187.153.188.123.187.09.188.055.187.019.188-.019.187-.055.188-.09.187-.123.188-.154.187-.18.188-.2.187-.219.188-.23.187-.235.188-.235.187-.23.188-.218.187-.202.188-.18.187-.153.188-.123.187-.09.188-.055.187-.019.188.019.187.055.188.09.187.123.188.154.187.18.188.2.187.219.188.23.187.235.188.235.187.23.188.218.187.202.188.18.187.153.188.123.187.09.188.055.187.019.188-.019.187-.055.188-.09.187-.123.188-.154.187-.18.188-.2.187-.219.188-.23.187-.235.188-.235.187-.23.188-.218.187-.202.188-.18.187-.153.188-.123.187-.09.188-.055.187-.019.188.019.187.055.188.09.187.123.188.154.187.18.188.2.187.219.188.23.187.235.188.235.187.23.188.218.187.202.188.18.187.153.188.123.187.09.188.055.187.019.188-.019.187-.055.188-.09.187-.123.188-.154.187-.18.188-.2.187-.219.188-.23.187-.235.188-.235.187-.23.188-.218.187-.202.188-.18.187-.153.188-.123.187-.09.188-.055.187-.019.188.019.187.055.188.09.187.123.188.154.187.18.188.2.187.219.188.23.187.235.188.235.187.23.188.218.187.202.188.18.187.153.188.123.187.09.188.055.187.019.188-.019.187-.055.188-.09.187-.123.188-.154.187-.18.188-.2.187-.219.188-.23.187-.235.188-.235.187-.23.188-.218.187-.202.188-.18.187-.153.188-.123.187-.09.188-.055.187-.019.188.019.187.055.188.09.187.123.188.154.187.18.188.2.187.219.188.23.187.235.188.235.187.23.188.218.187.202.188.18.187.153.188.123.187.09.188.055.187.019.188-.019.187-.055.188-.09.187-.123.188-.154.187-.18.188-.2.187-.219.188-.23.187-.235.188-.235.187-.23.188-.218.187-.202.188-.18.187-.153.188-.123.187-.09.188-.055.187-.019.188.019.187.055.188.09.187.123.188.154.187.18.188.2.187.219.188.23.187.235.188.235.187.23.188.218.187.202.188.18.187.153.188.123.187.09.188.055.187.019.188-.019.187-.055.188-.09.187-.123.188-.154.187-.18.188-.2.187-.219.188-.23.187-.235.188-.235.187-.23.188-.218.187-.202.188-.18.187-.153.188-.123.187-.09.188-.055.187-.019.188.019.187.055.188.09.187.123.188.154.187.18.188.2.187.219.188.23.187.235.188.235.187.23.188.218.187.202.188.18.187.153.188.123.187.09.188.055.187.019.188-.019.187-.055.188-.09.187-.123.188-.154.187-.18.188-.2.187-.219.188-.23.187-.235.188-.235.187-.23.188-.218.187-.202.188-.18.187-.153.188-.123.187-.09.188-.055.187-.019.188.019.187.055.188.09.187.123.188.154.187.18.188.2.187.219.188.23.187.235.188.235.187.23.188.218.187.202.188.18.187.153.188.123.187.09.188.055.187.019.188-.019.187-.055.188-.09.187-.123.188-.154.187-.18.188-.2.187-.219.188-.23.187-.235.188-.235.187-.23.188-.218.187-.202.188-.18.187-.153.188-.123.187-.09.188-.055.187-.019.188.019.187.055.188.09.187.123.188.154.187.18.188.2.187.219.188.23.187.235.188.235.187.23.188.218.187.202.188.18.187.153.188.123.187.09.188.055.187.019.188-.019.187-.055.188-.09.187-.123.188-.154.187-.18.188-.2.187-.219.188-.23%22%20stroke%3D%22%23645d57%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h75v5H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

.grow {
    flex: 1;
}

.buttons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: 5px 0;
    margin-top: 10px;

    button {
        font-family: inherit;
        padding: 0.7rem 0;
        font-size: 0.9rem;
        border-radius: 0.6rem;
        border: none;
        background: #c75b5b70;
        color: #ffb6b6;
        font-weight: 600;
        flex: 1 1 calc(50% - 4px);

        &:nth-child(5) {
            flex: 1 1 100%;
        }

        &:hover {
            background: #e9686870;
            cursor: pointer;
        }

        &.secondary {
            background: #3c3836;
            color: #d4be98;

            &:hover {
                background: #44403d;
            }
        }
    }
}
