.vc-friendship-ranks-flex {
    width: 100%;
    justify-content: center;
    height: 18px;
}

.vc-friendship-ranks-img {
    display: flex;
    width: 100%;
    text-align: center;
    place-content: center center;
    margin: 0;
    gap: 4px;
}

.vc-friendship-ranks-text {
    padding: 1em;
    text-align: center;
}