# artifacts
*.exe
dist
# artifacts: npm/pnpm
node_modules
# artifacts: Vencord
vencord_installer

# editor: IntelliJ IDEA
.idea
# editor: macOS Finder
.DS_Store
# editor: Visual Studio Code / VSCodium
.vscode/*.local.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
!.vscode/*.shared.json
!.vscode/extensions.json

# unused artifacts: npm
package-lock.json
# unused artifacts: Yarn
yarn.lock

# logs
*.log

# unused logs: Lerna
lerna-debug.log*
# unused logs: npm
npm-debug.log*
# logs: pnpm
.pnpm-debug.log*
# unused logs: TypeScript
*.tsbuildinfo
# unused logs: Yarn
yarn-debug.log*
yarn-error.log*

# misc: Vencord
ExtensionCache/
settings/
src/userplugins
