.vc-settings-tab-bar {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-subtle);
}

.vc-settings-tab-bar-item {
    margin-right: 32px;
    padding-bottom: 16px;
    margin-bottom: -2px;
}

.vc-settings-donate {
    display: flex;
    flex-direction: row;
}

.vc-settings-theme-links {
    /* Needed to fix bad themes that hide certain textarea elements for whatever eldritch reason */
    display: inline-block !important;
    color: var(--text-default) !important;
    padding: 0.5em 1em;
    border: 1px solid var(--input-border-default);
    max-height: unset;
    background-color: transparent;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    font-size: 1em;
    line-height: 2em;
    white-space: nowrap;
}

.vc-settings-theme-links::placeholder {
    color: var(--text-muted) !important;
}

.vc-settings-theme-links:focus {
    background-color: var(--background-base-lowest);
}

.vc-cloud-settings-sync-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-top: 16px;
}

.vc-cloud-erase-data-danger-btn {
    color: var(--white-500);
    background-color: var(--redesign-button-danger-background);
}

.vc-cloud-icon-with-button {
    display: flex;
    gap: 0.5em;
    padding-inline: 0.5em 1em;
}

.vc-cloud-button-icon {
    height: 1.25em;
}

.vc-settings-modal {
    padding: 1.5em !important;
}

.vc-settings-modal-close {
    float: right;
}