[class*="avatarWrapper_"][class*="withTagAsButton_"] {
    min-width: 80px !important;
}

[aria-label*="User area"]>[class*="container_"]>:only-child[class*="avatarWrapper_"][class*="withTagAsButton_"] {
    min-width: 100% !important;
    margin-right: 0 !important;
}

[aria-label*="User area"]>[class*="flex_"][class*="horizontal__"][class*="justifyStart__"][class*="alignStretch_"][class*="noWrap__"] {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
