.vc-quest-completer-icon {
    padding: 0;
    width: var(--space-32);
    min-width: 0;
    height: var(--space-32);
    color: var(--interactive-icon-default) !important;

    &:hover {
        filter: brightness(2);
    }
}