[class*="topic"] {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    white-space: unset;
}

[class*="page"] > * {
    min-width: 0;
}

.vc-sidebar-chat-popout {
    align-items: stretch;
}
