.jumpscare-root {
    pointer-events: none;
}

.jumpscare-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99999;
    object-fit: contain;
    opacity: 0;
}

.jumpscare-animate {
    animation: jumpscare-animation 0.7s;
}

@keyframes jumpscare-animation {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}
