.vc-channeltabs-icon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.vc-channeltabs-guild-acronym-icon {
    height: 1.25rem;
    width: 1.5rem;
    min-width: 1.5rem;
    border-radius: 50%;
    padding-top: 0.25rem;
    background-color: var(--background-primary);
    overflow: hidden;
}

.vc-channeltabs-tab [class^="wrapper_"] {
    min-width: 1.5rem;
}

.vc-channeltabs-name-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 0.125rem;
    font-weight: 500;
}

.vc-channeltabs-tab-inner {
    border-radius: 4px;
    padding: 2px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.vc-channeltabs-tab-container,
.vc-channeltabs-bookmark-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 4px;
}

.vc-channeltabs-container {
    --channeltabs-red: #f23f42;
    --channeltabs-blue: #0052b6;
    --channeltabs-yellow: #f0b132;
    --channeltabs-green: #24934f;
    --channeltabs-black: #000;
    --channeltabs-white: #fff;
    --channeltabs-orange: #e67e22;
    --channeltabs-pink: #ff73fa;

    padding: 4px 0;
    display: flex;
    flex-direction: column-reverse;
    -webkit-app-region: no-drag;
    background-color: var(--background-primary);
    box-shadow: inset 0 1px 0 var(--background-tertiary);
}

.vc-channeltabs-container-top {
    box-shadow: inset 0 -1px 0 var(--background-tertiary);
}

.vc-channeltabs-separator {
    width: 98%;
    height: 1px;
    background: var(--background-modifier-accent);
    margin: 4px auto;
}

.vc-channeltabs-scroller {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}

.vc-channeltabs-scroller::-webkit-scrollbar {
    display: none;
}

.vc-channeltabs-bookmarks {
    flex-grow: 1;
    overflow: hidden;
    padding: 2px 0;
}

.vc-channeltabs-bookmark-placeholder-text {
    color: var(--text-muted);
    padding: 0.25rem 0 0 0.25rem;
}

.vc-channeltabs-bookmark-star {
    fill: none;
    stroke: var(--text-muted);
    stroke-width: 0.075rem;
    transition: all 0.15s ease;
}

.vc-channeltabs-bookmark-star:hover {
    stroke: var(--interactive-hover);
}

.vc-channeltabs-bookmark-star-checked {
    fill: var(--brand-experiment, var(--brand-500));
    stroke: var(--brand-experiment, var(--brand-500));
}

.vc-channeltabs-bookmark {
    display: flex;
    flex-direction: row;
    max-width: 8rem;
    padding: 4px 8px;
    border-radius: 4px;
    align-items: center;
}

.vc-channeltabs-bookmark.vc-channeltabs-wider {
    max-width: 12rem;
}

.vc-channeltabs-bookmark .vc-channeltabs-name-text {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.vc-channeltabs-bookmark-icon {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--background-primary);
    text-align: center;
}

.vc-channeltabs-bookmark-notification {
    height: 1rem;
    width: 1rem;
}

.vc-channeltabs-channel-info {
    flex-grow: 1;
    overflow: hidden;
}

.vc-channeltabs-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    width: 12rem;
    min-width: 0;
    margin: 0 2px;
    background-color: var(--background-secondary);
    border: none;
    transition: background-color 0.15s ease;
    padding: 2px;
}

.vc-channeltabs-tab.vc-channeltabs-wider:not(.vc-channeltabs-tab-compact) {
    width: 16rem;
}

.vc-channeltabs-tab-compact {
    width: unset;
    min-width: unset;
}

.vc-channeltabs-tab-selected {
    background-color: var(--brand-experiment, var(--brand-500));
}

.vc-channeltabs-tab-selected .vc-channeltabs-name-text,
.vc-channeltabs-tab-selected .vc-channeltabs-guild-acronym-icon span {
    color: var(--white-500);
}

.vc-channeltabs-tab-container svg {
    -webkit-app-region: no-drag;
}

.vc-channeltabs-tab-selected svg,
.vc-channeltabs-tab-selected .vc-channeltabs-close-button svg {
    color: var(--white-500);
    fill: var(--white-500);
}

.vc-channeltabs-container [class^="iconContainer_"] {
    margin: 0 -0.25rem 0 0;
    pointer-events: none;
    height: 1rem;
    transform: scale(0.8);
}

.vc-channeltabs-ghost-tab {
    visibility: hidden;
}

.vc-channeltabs-hoverable:hover,
.vc-channeltabs-tab:hover:not(.vc-channeltabs-tab-selected) {
    background-color: var(--background-modifier-hover);
}

.vc-channeltabs-button {
    background-color: transparent;
    color: var(--text-default);
}

.vc-channeltabs-new-button {
    padding: 4px;
    margin: 0 4px;
    border-radius: 4px;
    background-color: var(--background-secondary);
}

.vc-channeltabs-new-button:hover {
    background-color: var(--background-modifier-hover);
}

.vc-channeltabs-new-button:hover svg {
    color: var(--interactive-hover);
}

.vc-channeltabs-close-button {
    height: 1rem;
    padding: 0;
    margin: 0 4px 0 2px;
    border-radius: 3px;
}

.vc-channeltabs-tab-selected .vc-channeltabs-close-button:hover {
    background-color: color-mix(in srgb, white 15%, transparent);
}

.vc-channeltabs-close-button-compact {
    position: absolute;
    opacity: 0;
    width: 2rem;
    height: 2rem;
    margin-left: 0.35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.vc-channeltabs-close-button-compact:hover {
    background-color: black;
    opacity: 0.5;
}

.vc-channeltabs-emoji-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    width: 1.25rem;
    min-width: 1.25rem;
    border-radius: 50%;
}

.vc-channeltabs-emoji {
    height: 0.75rem;
    width: 0.75rem;
}

.vc-channeltabs-favorites-star {
    margin: 0 -0.25rem -1rem -0.75rem;
    height: 0.75rem;
    width: 0.75rem;
}

.vc-channeltabs-preview-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 12rem;
    padding: 0.125rem 0;
    min-width: 0;
    border-radius: 0.25rem;
    border: 1px solid var(--background-modifier-accent);
}

.vc-channeltabs-preview-tab-compact {
    width: unset;
    min-width: unset;
}

.vc-channeltabs-preview-tab > :is(.vc-channeltabs-emoji-container,
    .vc-channeltabs-typing-indicator,
    [data-has-mention]) {
    display: none;
}

.vc-channeltabs-preview-text {
    overflow: hidden;
}

.vc-channeltabs-tab-container .vc-channeltabs-new-button,
.vc-channeltabs-tab-container .vc-channeltabs-hoverable,
.vc-channeltabs-tab-container .vc-channeltabs-button {
    -webkit-app-region: no-drag;
}

.vc-channeltabs-tab-container .vc-channeltabs-hoverable,
.vc-channeltabs-tab-container .vc-channeltabs-button,
/* stylelint-disable-next-line no-descending-specificity */
.vc-channeltabs-tab-container svg {
    -webkit-app-region: no-drag;
}