.vc-friend-codes-card {
    padding: 20px;
    margin-bottom: var(--custom-margin-margin-small);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--background-base-low);
    background-color: var(--background-secondary-alt);
}

.vc-friend-codes-card-title span {
    color: var(--text-default);
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
}

.vc-friend-codes-info-header {
    margin-top: 16px;
    margin-bottom: 8px;
    color: var(--text-default);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .02em;
    font-family: var(--font-display);
    font-weight: 600;
}

.vc-friend-codes-text {
    display: flex;
    justify-content: center;
    align-items: center;
}