.quest-button-enrollable > [class^="iconBadge"] {
  background-color: var(--status-danger);
}

.quest-button-enrolled > [class^="iconBadge"] {
  background-color: var(--status-warning);
}

.quest-button-claimable > [class^="iconBadge"] {
  background-color: var(--status-positive);
}

.quest-button svg:has(> [mask^="url(#svg-mask-panel-button)"]) {
  display: none;
}

.quest-button-badges {
  gap: 5px;
}
