.preview-div {
    position: fixed;
    border: 2px solid var(--background-tertiary);
    background-color: var(--background-secondary);
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 9999;
    display: none;
    max-width: 100vw;
    max-height: 96vh;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0 0 0 / 40%);
}

.file-name {
    font-size: 15px;
    color: var(--text-normal);
    text-align: center;
    margin-bottom: 5px;
    display: block;
    word-break: break-all;
    max-width: 180px;
}

.preview-div img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.preview-div video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.preview-header {
    color: white;
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.dimensions-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
    font-size: 11px;
    color: var(--text-muted);
}

.dimensions-displaying,
.dimensions-original {
    display: block;
}
