.vc-bi-inviter-avatar {
    margin: 0;
    height: 14px;
    width: 14px;
    position: static;
    flex-shrink: 0;
}

.vc-bi-header-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin: 0;
    margin-bottom: 5px;
    font-size: 12px;
}

.vc-bi-header-text {
    flex: 1;
    white-space: normal;
    color: var(--text-subtle);
}

.vc-bi-tooltip-icon {
    color: var(--text-muted);
    width: 16px;
    height: 16px;
    margin-top: 1px;
}
