.vc-cmt-info-card {
    background-color: var(--background-feedback-info);
    border: 1px solid var(--icon-feedback-info);
    padding: 8px;
    border-radius: var(--radius-xs);
    margin: 10px 0;
}

.vc-cmt-demo-message-container {
    position: sticky;
    background: var(--background-base-lowest);
    padding: 10px 0;
    cursor: pointer;
    top: -8px;
    border: solid grey 1px;
    border-radius: 5px;
}