.vc-spotify-lyrics {
    padding: 0.375rem 0.5rem;
    border-bottom: 1px solid var(--background-modifier-accent);
    text-align: center;
    overflow: hidden;
    max-height: 60px;
    cursor: pointer;
}

.vc-spotify-lyrics-music-note {
    font-size: 16px;
    text-align: center;
    animation: side-to-side 2s ease-in-out infinite;
    color: var(--text-muted);
    height: 18px;
    margin: 3px;
}

.vc-spotify-lyrics-next,
.vc-spotify-lyrics-prev {
    opacity: 0.6;
    margin-bottom: 1%;
}

@keyframes side-to-side {
    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }
}

.vc-spotify-lyrics-header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.vc-spotify-lyrics-album-image {
    width: 100px;
    height: 100px;
    margin-right: 5%;
    border-radius: 5px;
    cursor: pointer;
}

.vc-spotify-lyrics-modal-line-current,
.vc-spotify-lyrics-modal-line {
    margin: 4px 0;
    padding: 4px 8px;
    position: relative;
}

.vc-spotify-lyrics-modal-line-current {
    font-weight: bold;
}

.vc-spotify-lyrics-modal-note {
    height: 1lh;
}

.vc-spotify-lyrics-modal-timestamp {
    color: var(--text-muted);
    margin-right: 0.5em;
    cursor: pointer;
}

.vc-spotify-lyrics-modal-timestamp:hover {
    text-decoration: underline;
}

.vc-spotify-lyrics-modal-no-lyrics {
    text-align: center;
    padding: 1rem;
}

.theme-light .vc-spotify-lyrics {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
}

.theme-dark .vc-spotify-lyrics {
    background: var(--bg-overlay-1, var(--background-secondary-alt));
}
