.remixme-warning {
    font-size: 16px;
    background-color: rgb(240 71 71 / 10%);
    color: rgb(240 71 71);
    border: 1px solid rgb(240 71 71 / 60%);
    border-radius: 4px;
    font-weight: 500;
    padding: 6px 10px;
    text-align: center;
    margin-top: 10px;
    font-style: bold;
}
