.vc-permviewer-user-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.vc-permviewer-user-header-btns {
    display: flex;
    gap: 8px;
}