.friend-notifications-settings {
    display: flex;
    height: 100%;
    color: var(--text-default);
    width: 75%;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    background: var(--background-floating);
    border-radius: 5px;
    margin: 0.5rem auto;
    padding: 0.5rem 2rem;
}

.friend-notifications-settings-info {
    margin: 0 auto;
    color: var(--text-muted);
}

.friend-notifications-settings-username {
    color: var(--text-normal);
}

.friend-notifications-settings-discriminator {
    color: var(--text-muted);
}

.friend-notifications-settings-delete {
    cursor: pointer;
}