.vc-notification-root {
    /* clear default button styles */
    all: unset;
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-height: 10vh;
    color: var(--text-normal);
    background-color: var(--background-secondary-alt);
    position: absolute;
    z-index: 42;
    bottom: 1rem;
    right: 1rem;
    border-radius: 5px;
    cursor: pointer;

    /* border-left: 4px solid var(--vc-color, var(--brand-500)); */
}

.vc-notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.vc-notification img {
    height: 5rem;
    width: 5rem;
}

/* Discord adding 3km margin to generic tags */
.vc-notification h2 {
    margin: unset;
}

.vc-notification-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vc-notification-progressbar {
    height: 0.5rem;
    border-radius: 5px;
    margin-top: auto;
    background-color: var(--brand-500);
}

.vc-notification-p {
    line-height: 140%;
}
