.vc-notification-root {
    /* clear default button styles */
    all: unset;
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-height: 10vh;
    color: var(--text-normal);
    background-color: var(--background-secondary-alt);
    position: absolute;
    z-index: 2147483647;
    right: 1rem;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}

.vc-notification {
    display: flex;
    flex-direction: row;
    padding: 1.25rem;
    gap: 1.25rem;
}

.vc-notification-content {
    width: 100%;
}

.vc-notification-header {
    display: flex;
    justify-content: space-between;
}

.vc-notification-title {
    color: var(--header-primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-transform: uppercase;
}

.vc-notification-close-btn {
    all: unset;
    cursor: pointer;
    color: var(--interactive-normal);
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
}

.vc-notification-close-btn:hover {
    color: var(--interactive-hover);
    opacity: 1;
}

.vc-notification-icon {
    height: 4rem;
    width: 4rem;
    border-radius: 6px;
}

.vc-notification-progressbar {
    height: 0.25rem;
    border-radius: 5px;
    margin-top: auto;
}

.vc-notification-p {
    margin: 0.5rem 0 0;
    line-height: 140%;
}

.vc-notification-img {
    width: 100%;
}
