.vc-newPluginsManager-restart-tooltip {
    max-width: 280px;
}

.vc-newPluginsManager-restart-list {
    padding-left: 1.25em;
}

.vc-newPluginsManager-restart-list li {
    list-style: disc;
}

.vc-newPluginsManager-close > div {
    display: flex;
}

.vc-newPluginsManager-disable-wrapper {
    display: flex;
    margin: auto 0;
}