.vc-author-modal-root {
    padding: 1em;
}

.vc-author-modal-header {
    display: inline-flex;
    border-radius: 9999px;
    align-items: center;
    margin-bottom: 1em;
}

.vc-author-modal-name {
    text-transform: none;
    background: var(--background-tertiary);
    border-radius: 0 9999px 9999px 0;
    padding: 6px 0.8em 6px 0.5em;
    font-size: 20px;
    height: 20px;
    position: relative;
}

.vc-author-modal-name::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 16px;
    background: var(--background-tertiary);
    z-index: -1;
    left: -16px;
    top: 0;
}

.vc-author-modal-header img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.vc-author-modal-plugins {
    display: grid;
    gap: 0.5em;
}
