.vc-char-counter {
    font-size: 12px;
    color: var(--text-muted);
    position: absolute;
    bottom: 4px;
    right: 6px;
    pointer-events: none;
    z-index: 2;
    background: transparent;
    transition: color 0.3s ease;
}

.vc-char-counter .vc-char-count {
    transition: color 0.3s ease;
}

.vc-char-counter .vc-char-max {
    color: var(--primary-330);
}