.vc-content-warning-container {
    filter: blur(5px) brightness(30%);
    transition: filter 0.2s ease-in-out;
    cursor: pointer;
}

.vc-content-warning-enter {
    filter: none;
}

.vc-content-warning-leave {
    filter: blur(5px) brightness(30%);
}