<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Vencord QuickCSS Editor</title>
    <link rel="stylesheet" data-name="vs/editor/editor.main"
        href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.0/min/vs/editor/editor.main.min.css">
    <style>
        html,
        body,
        #container {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div id="container"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.0/min/vs/loader.min.js"></script>

    <script>
        require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.0/min/vs' } });
        require(["vs/editor/editor.main"], () => {
            getCurrentCss().then(css => {
                var editor = monaco.editor.create(document.getElementById('container'), {
                    value: css,
                    language: 'css',
                    theme: getTheme(),
                });
                editor.onDidChangeModelContent(() =>
                    setCss(editor.getValue())
                );
                window.addEventListener("resize", () => {
                    // make monaco re-layout
                    editor.layout();
                });
            });
        });


    </script>
</body>

</html>
