/* stylelint-disable property-no-vendor-prefix */
.vc-banners-everywhere-memberlist {
    position: absolute;
    left: 0;
    border-radius: var(--radius-sm);
    opacity: 0.8;
    -webkit-mask-image: linear-gradient(to right, transparent 20%, #fff);
    mask-image: linear-gradient(to right, transparent 20%, #fff);
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.vc-banners-everywhere-memberlist ~ div {
    z-index: 1;
}
