/* stylelint-disable property-no-vendor-prefix */
.vc-banners-everywhere-memberlist {
    opacity: 0.8;
    -webkit-mask-image: linear-gradient(to right, transparent 20%, #fff);
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
}
