.vc-plugins-management-cards.vc-plugins-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.vc-plugins-management-cards .vc-addon-card {
    width: auto;
}

.vc-plugins-management-cards .vc-addon-title-container {
    width: max-content;
}

.vc-plugins-management-cards .vc-addon-title {
    position: static;
    overflow: visible;
}

.vc-plugins-management-cards .vc-addon-note {
    max-width: 400px;
}