.vc-sp-disabled {
    opacity: 0.5;
}

.vc-sp-icon {
    transform: rotate(45deg);
    width: 16px;
    height: 16px;
    color: var(--interactive-normal);
    opacity: 0;
}

[data-menu-item="true"]:hover .vc-sp-icon {
    opacity: 1;
}

[data-menu-item="true"]:hover .vc-sp-icon:hover {
    color: var(--status-danger);
}

[data-menu-item="true"][id^="sp-custom-status-submenu"] img.emoji {
    width: 16px !important;
    height: 16px !important;
}