.vc-keywordnotify-delete {
    padding: 0;
    color: var(--primary-400);
    transition: color 0.2s ease-in-out;
}

.vc-keywordnotify-delete:hover {
    color: var(--status-danger);
}

.vc-keywordnotify-collapsible {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.vc-keywordnotify-switch {
    margin-top: 0.5em;
    margin-right: 40px;
}