/* stylelint-disable no-descending-specificity */
.keywordnotify-delete:hover {
    color: var(--status-danger);
}

.keywordnotify-delete {
    padding: 0;
    color: var(--primary-400);
    transition: color 0.2s ease-in-out;
}

.keywordnotify-collapsible {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}
