.vc-i-remember-you-header-container {
    display: contents;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.vc-i-remember-you-header-name {
    margin-top: 16px;
}

.vc-i-remember-you-header-btns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 350px));
    gap: 10px;
    margin-top: 8px;
}

.vc-i-remember-you-header {
    color: var(--text-default);
}

.vc-i-remember-you-rows {
    gap: 5px;
    flex-direction: column;
}

.vc-i-remember-you-search {
    margin-top: 10px;
}

.vc-i-remember-you-search-user {
    flex-direction: column;
    padding-top: 18px;
}

.vc-i-remember-you-user-avatar {
    cursor: pointer;
    margin-right: 0;
}

.vc-i-remember-you-user-row {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 4px;
    align-items: flex-start;
}

.vc-i-remember-you-user-id {
    align-self: flex-start;
    opacity: 0.75;
    height: min-content;
    cursor: pointer;
}

.vc-i-remember-you-user-id:hover {
    opacity: 1;
}

.vc-i-remember-you-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 0;
}

.vc-i-remember-you-user-username {
    margin-top: 2px;
}

.vc-i-remember-you-user-tooltip {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}