/* stylelint-disable custom-property-pattern */
:root {
    --98-message-color-saturation: /*DYNAMIC*/;
}

div[class*="messageContent_"] {
    color: color-mix(
        in lab,
        var(--98-message-color, var(--text-normal)) calc(var(--98-message-color-saturation) * 1%),
        var(--text-normal)
    )
}
