.vc-unreadCountBadge {
    box-sizing: border-box;
    height: 16px;
    min-height: 16px;
    min-width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--brand-500);
    color: var(--white);
    font-size: 12px;
    font-family: var(--font-display);
    border-radius: 8px;
    margin-left: 4px;
    line-height: 1.33;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.vc-unreadCountBadge-dot {
    position: absolute;
    top: 25%;
    margin-left: -3%;
    scale: 0.9;
    z-index: 1;
}

.vc-unreadCountBadge-dot-thread {
    position: absolute;
    top: 20%;
    margin-left: -18%;
    scale: 0.9;
    z-index: 1;
}

[class*="modeMuted"] .unreadCountBadge {
    display: none;
}