name: Build DevBuild
on:
    push:
        branches:
            - main
            - dev
    workflow_dispatch:

permissions:
    contents: write

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
            - name: Use Node.js 20
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"

            - name: Install dependencies (no lockfile freeze)
              run: pnpm install --no-frozen-lockfile

            - name: Verify installed modules
              run: pnpm list

            - name: Build web
              run: pnpm buildWeb --standalone

            - name: Build
              run: pnpm build --standalone

            - name: Generate plugin list
              run: pnpm generatePluginJson dist/plugins.json dist/plugin-readmes.json

            - name: Clean up obsolete files
              run: |
                  rm -rf dist/*-unpacked dist/monaco Vencord.user.css vencordDesktopRenderer.css vencordDesktopRenderer.css.map

            - name: Get some values needed for the release
              id: vars
              run: |
                  echo "hash=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
                  echo "date=$(git show -s --format=%cI HEAD)" >> $GITHUB_OUTPUT

            - name: Upload DevBuild as release
              if: github.repository == 'viciouscal/Vencord'
              run: |
                  gh release upload devbuild --clobber dist/*
                  gh release edit devbuild --title "DevBuild ${{ steps.vars.outputs.hash }}" --notes "Nightly build from ${{ steps.vars.outputs.date }}"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Upload DevBuild to builds repo
              if: github.repository == 'viciouscal/Vencord'
              run: |
                  git config --global user.name "${{ github.actor }}"
                  git config --global user.email "${{ github.actor }}@users.noreply.github.com"

                  revision=$(git rev-parse --short HEAD)
                  
                  git clone https://github.com/Vencord/builds.git
                  cd builds
                  
                  git remote add target https://${{ secrets.GITHUB_TOKEN }}@github.com/viciouscal/builds.git 2> /dev/null || git remote set-url target https://${{ secrets.GITHUB_TOKEN }}@github.com/viciouscal/builds.git
                  
                  cp -r ../dist .
                  
                  git add .
                  git commit -m "Builds for https://github.com/${{ github.repository }}/commit/$revision" || exit 0
                  git push --set-upstream target main
